* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #202124;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  color: #bdc1c6;
  border-bottom: 3px solid rgba(189, 193, 198, 0.2);
}

 a {
  color: #bdc1c6;
  text-decoration: none !important;
}
