.elementProperties {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  color: #bdc1c6;
  background: #202124;
  text-decoration: none;
}

.elementProperties > h2 {
  margin-top: 2%;
}

.elementInfo {
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
  position: relative;
  padding: 2%;
  border: 3px solid rgba(189, 193, 198, 0.2);
  border-radius: 2%;
  width: 30%;
  overflow-y: scroll;
}

.element {
  display: flex;
  padding-top: 1.5%;
  padding-bottom: 0.5%;
  border-bottom: 1px solid rgba(189, 193, 198, 0.2);
  font-size: large;
}

.backButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: larger;
  font-weight: bold;
}
