.elementProperties {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  color: #bdc1c6;
  background: #202124;
  text-decoration: none;
}


